<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <meta charset="UTF-8" />
    <title th:include=":: #pageTitle">Registration</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity=
                    "sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/semantic/semantic.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <script type="text/javascript" th:src="@{/js/semantic/semantic.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
</head>

<body>
</body>

</html>