<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin-layout}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="pageTitle">Registration Window</title>
</head>
<body layout:fragment="content">
<div style="padding-bottom: 30px">
    <div class="ui basic segment"></div>
    <div class="ui left aligned container" style="padding-bottom: 10px;">
        <div class="ui breadcrumb">
            <a class="section"><span class="ui large text">প্রথম পাতা</span></a>
            <i class="right arrow icon divider"></i>
            <div class="active section"><span class="ui large text">দাওরায়ে হাদীস ১৪৪৫</span></div>
        </div>
    </div>
    <div class="ui tiny raised card" style="width: 1000px;padding-bottom: 20px">
        <a class="ui right aligned" style="padding-top: 20px; padding-right: 10px">
            <span class="ui large text">
                নিবন্ধন উইন্ডো পুনঃনির্ধারণ
            </span>
        </a>
        <div class="ui massive header" style="padding-left: 70px">নিবন্ধন চলছে</div>
        <span class="ui big grey text" style="padding-bottom: 5px">নিয়মিত নিবন্ধনীর সময়কাল - <b>১৫</b> থেকে <b>৩০ শে জানুয়ারী, ২০২২</b> পর্যন্ত  </span>
        <span class="ui big grey text">নিবন্ধনী ফি - <b>১০০০ টাকা</b> </span>
        <span class="ui large grey text" style="padding-right: 40px; padding-left: 40px; padding-top: 20px">
            <span style="padding-right: 10px">*</span>
            <span>
                নিয়মিত নিবন্ধনী সময়কালে নিবন্ধন প্রক্রিয়ায় অংশগ্রহণ করতে ব্যর্থ হলে ৩০শে জানুয়ারী থেকে ১০ই ফেব্রুয়ারী এর মধ্যে বিলম্ব ফি ৫০০ টাকা দিয়ে নিবন্ধন করা  যাবে । ১০ই ফেব্রুয়ারী এর পর নিবন্ধন প্রক্রিয়া বন্ধ হয়ে যাবে ।
            </span>
        </span>
        <div class="ui basic segment"></div>
        <span class="ui big text" style="padding-bottom: 20px";>নিবন্ধনের উপাত্ত</span>
        <div class="ui form">
        <div class="two fields">
            <div class="field right aligned" >
                <div><span class="ui large text">মোট ছাত্র-ছাত্রী আবেদন করেছে </span></div>
                <div><span class="ui large text">মোট ছাত্র আবেদন করেছে </span></div>
                <div><span class="ui large text">মোট ছাত্রী আবেদন করেছে</span></div>
                <div><span class="ui large text">বোর্ড কর্তৃক অনুমোদন পেয়েছে </span></div>
                <div><span class="ui large text">নিবন্ধনী সম্পন্নকারী মাদ্রাসার সংখ্যা</span></div>
            </div>
            <div class="field left aligned">
                <div><span class="ui large text"> ৩,৩৫,০০০ </span></div>
                <div><span class="ui large text"> ২,২০,০০০ </span></div>
                <div><span class="ui large text"> ১,১৫,০০০ </span></div>
                <div><span class="ui large text">১,৭৩,৭৬৩ </span></div>
                <div><span class="ui large text"> ১২৫/৩৪৫  </span></div>
            </div>
        </div>
        </div>
        <a class="ui centered" style="padding-top: 20px; padding-right: 10px">
            <span class="ui large text">
                নিবন্ধনের বিস্তারিত দেখুন
            </span>
        </a>
</div>
<script>
</script>
</body>
</html>