<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title id="pageTitle">Set Password</title>
</head>

<body>

<div layout:fragment="content">
    <div class="ui basic massive segment"></div>
    <div class="ui basic segment"></div>
    <div class="ui centered raised card" style="width: 580px;">
        <div class="ui basic huge segment"></div>

        <div class="ui container">
            <h1 class="ui huge header">Set Password for your account</h1>
        </div>

        <div class="ui left aligned container" style="margin: 40px 70px 20px 70px;">
            <span class="ui large text">Please provide a password for your new account. <br></span>
            <div style="margin-top: 5px;">
                <span class="ui medium text">Password should be ...</span>
            </div>
        </div>

        <form class="ui left aligned form" th:action="@{/registration-success}">
            <div class="field" style="margin: 10px 220px 10px 70px;">
                <label>Your Password</label>
                <input type="password" id="password" placeholder="**********">
            </div>
            <div class="field" style="margin: 0px 220px 30px 70px;">
                <label>Repeat the password</label>
                <input type="password" id="rep_password" placeholder="**********">
            </div>

            <div class="ui basic left aligned container">
                <a style="margin-left: 70px;">
                    <button class="ui green button" type="submit">
                        Continue
                    </button>
                </a>
            </div>
        </form>

        <div class="ui basic huge segment"></div>
    </div>
</div>

</body>
</html>